body {
  background-color: red;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 50px auto;
}
.main {
  font-family: georgia;
  font-weight: lighter;
  color: #000;
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}

.pix {
  width: 60%;
  height: auto;
}
.cent {
  margin: auto;
}

.text-center {
  text-align: center;
}
.text-question {
  text-transform: capitalize;
  font-family: serif;
}

h2, h3 {
  color: red;
  text-align: center;
}

.buttonz {
  background-color: red;
  color: white;
  text-transform: lowercase;
  border-radius: 10px;
}
